# Access tennis mcekovic/uts-database through jupyter lab/notebook query it and export results to excel file.

### Doceker pull command:   docker pull mcekovic/uts-database

Ultimate Tennis Statistics and Tennis Crystal Ball pre-populated database with ATP tennis data as of season 2021.

Run the container as:

docker run -p 5432:5432 -d --name uts-database mcekovic/uts-database

Enter PostgreSQL client command line tool:

docker exec -it uts-database psql -U tcb

Execute SQL commands, like:

SELECT goat_rank, name, country_id, goat_points FROM player_v ORDER BY goat_points DESC NULLS LAST LIMIT 20;

To exit psql command line tool: quit

To stop Docker container running UTS database: docker stop uts-database

More information about relational schema model can be found here: https://github.com/mcekovic/tennis-crystal-ball/issues/337

In [8]:
import psycopg2

## Connect to the DB

In [9]:
try:
    connection = psycopg2.connect(user = "tcb",
                                  password = "tcb",
                                  host = "localhost",
                                  port = "5432",
                                  database = "tcb")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': 'tcb', 'dbname': 'tcb', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 14.1 (Debian 14.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute("SELECT goat_rank, name, country_id, goat_points FROM player_v ORDER BY goat_points DESC NULLS LAST LIMIT 20")

In [12]:
print(cursor.fetchall())

[(1, 'Novak Djokovic', 'SRB', 964.0), (2, 'Roger Federer', 'SUI', 936.0), (3, 'Rafael Nadal', 'ESP', 846.0), (4, 'Jimmy Connors', 'USA', 616.0), (5, 'Ivan Lendl', 'USA', 607.0), (6, 'Pete Sampras', 'USA', 523.0), (7, 'John McEnroe', 'USA', 514.0), (8, 'Bjorn Borg', 'SWE', 483.0), (9, 'Andre Agassi', 'USA', 417.0), (10, 'Rod Laver', 'AUS', 389.0), (11, 'Boris Becker', 'GER', 369.0), (12, 'Stefan Edberg', 'SWE', 328.0), (13, 'Andy Murray', 'GBR', 315.0), (14, 'Mats Wilander', 'SWE', 243.0), (15, 'Guillermo Vilas', 'ARG', 242.0), (16, 'Ilie Nastase', 'ROU', 228.0), (17, 'Ken Rosewall', 'AUS', 220.0), (18, 'Arthur Ashe', 'USA', 211.0), (19, 'John Newcombe', 'AUS', 210.0), (20, 'Lleyton Hewitt', 'AUS', 181.0)]

## Query and export output

In [13]:
fid = open('/Users/maxplanck/Desktop/test/export_test.csv', 'w')
sql = "COPY ( SELECT * FROM player_v \
FULL OUTER JOIN player_performance ON player_v.player_id = player_performance.player_id \
ORDER BY player_v.player_id ASC\
) TO STDOUT WITH CSV HEADER"
cursor.copy_expert(sql, fid)
fid.close()

## Close connection

In [7]:
cursor.close()
connection.close()

In [ ]:
fid = open('/Users/maxplanck/Desktop/test/export_test.csv', 'w')
sql = "COPY (SELECT * FROM player JOIN player_best_rank ON (player.player_id = player_best_rank.player_id)) TO STDOUT WITH CSV HEADER"
cursor.copy_expert(sql, fid)
fid.close()